.vscode/**
.vscode-test/**
src/**
test/**
scripts/**
media/icons/**
media/codepoints.json
node_modules/**
out/**
coverage/**
.gitignore
.nvmrc
eslint.config.mjs
esbuild.mjs
tsconfig.json
vitest.config.ts
package-lock.json
**/*.map
**/*.ts
!dist/extension.js
